{% extends "model-page.html" %}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-center border-bottom">
  <h2><strong>Clientes</strong></h2>
  <button class="btn btn-primary btn-sm mb-2 " type="button">Adicionar Clientes</button>
</div>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
  
<table class="table table-light table-striped table-hove table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for customer in customers %}
    <tr>
      <td>{{ customer.get_full_name}}</td>
      <td>{{ customer.get_full_city}}</td>
      <td>{{ customer.get_full_phone_number}}</td>
      <td >{{ customer.email}}</td>
      
      <td class='text-center'><button type="button" class="btn btn-sm btn-outline-danger">Excluir</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock  %}