{% extends "model-page.html" %}

{% block content %}


  <h1 class='text-center text-muted'><strong>Clientes</strong></h1>
  <div class="d-grid gap-3 p-1 d-md-flex justify-content-md-end ">
  <a href='{% url "customer:create" %}'>
  <button class="btn btn-outline-primary btn-sm " type="button">Adicionar Cliente</button>
  </a>
</div>
<div class="table-responsive shadow-lg p-3 mb-5  ">
  
<table class="table table-light table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
     
    </tr>
  </thead>
  <tbody>
   {% for customer in customers %}
    <tr class="bg-Secondary">
      <td><a href='{{ customer.get_absolute_url }}'>{{ customer.get_full_name}}</a></td>
      <td >{{ customer.get_full_city}}</td>
      <td>{{ customer.get_full_phone_number}}</td>
      <td >{{ customer.email}}</td>
      
        <td class='text-center'><button type="button" class="btn btn-sm btn-outline-danger">Excluir</button>  
          <a href='{{ customer.get_absolute_url }}  '><button type="button" class="btn btn-sm btn-outline-primary">Editar</button></a></td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próximo</a>
    </li>
  </ul>
{% endblock  %}