{% extends "model-page.html" %}

{% block content %}


  <h1 class='text-center text-info border-bottom'><strong>Clientes</strong></h1>
  
  <div class="d-grid gap-3 p-1 d-md-flex justify-content-md-start ">
  <a href='{% url "customer:create" %}'>
  <button class="btn btn-primary btn-sm" type="button">Adicionar Cliente</button>
  </a>
</div>
<form>
<div class="input-group mt-2">
  <input type="text" name='pesquisa_name' class="form-control" placeholder="Buscar por Nome de Cliente">
  <div class="input-group-append mr-2">
    <button class="btn btn-success btn" type="submit">Pesquisar Clientes</button>
  </div>
</div>
</form>
<div class="table-responsive shadow-lg p-3 mb-5  ">
  
<table class="table  table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
     
    </tr>
  </thead>
  <tbody>
   {% for customer in customers %}
    <tr class="bg-Secondary">
      <td><a href='{{ customer.get_absolute_url }}'>{{ customer.get_full_name}}</a></td>
      <td >{{ customer.get_full_city}}</td>
      <td>{{ customer.get_full_phone_number}}</td>
      <td >{{ customer.email}}</td>
     
        <td class='text-center'>
          <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#modal{{ customer.id }}" >Excluir</button> 
          <!-- Modal -->
              <div class=" shadow-lg p-4 mb-3 border modal fade" id="modal{{ customer.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header ">
                      <h2 class="modal-title bg-light text-dark " id="exampleModalLabel"> Exclusão </h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     <small> Deseja Realizar a Exclusão do Cliente - <strong class= 'text-danger'>{{ customer.get_full_name}}</strong> ? </small>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                      <form method="post" action="{{ customer.get_delete_url }}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm ">Excluir Cliente</button>
                      </form>
                      <button type="button" class="btn btn-warning btn-sm ml-3 " data-dismiss="modal">Fechar Modal</button>
                  </div>
                  
                  </div>
                </div>
              </div>
          <a href='{{ customer.get_absolute_url }}  '>
            <button type="button" class="btn btn-sm btn-outline-primary">Editar</button></a>
          </td>
        

    
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% include "paginacao.html" %}

{% endblock  %}