
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block titulo %}
Pagina de Vendas A.X.O
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4 mx-auto">
      <h1><small class="text-muted">EXCLUIR PRODUTO</small></h1>
<hr>
 <form action="" method="POST">
      <p class="text-white">
        Deseja excluir o Produto: <strong class="text-warning"> ("{{ object }}")</strong> ?
      </p>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="row">
        <div class="col-6">
          <button type="submit" class="btn btn-success ">SIM</button>
        </div>
        <div class="col-4">
          <a href="{% url 'lista_produto' %}" class="btn btn-danger" title="Voltar">NÃO</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}